.resultsWrapper {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  text-align: justify;
  text-align: center;
}
.decisionWrapper {
  background: whitesmoke;
  width: 100%;
  margin: 5vw;
}
.decisionText {
  padding: 4vw;
}